.gradle

bin

Reports

Libs

output

!output/.gitkeep

Northstar.prj

build

.classpath

.project

.cache
/bin/
/Libs/
/.settings/
/.classpath
.svn/
.cache/

/appium.log
/.DS_Store
# Katalon internal android properties (local machine specific)
settings/internal/com.kms.katalon.core.mobile.android.properties
